$mobile: 767px;

.header {
    height: 14vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    overflow: hidden;
    .logo {
        color: #1A1A1A;
        font-weight: bold;
        font-size: 42px;
        margin-left: 8vw;
        font-family: 'Product Sans', sans-serif;
    }
    .links {
        color: #1A1A1A;
        font-weight: bold;
        font-size: 15px;
        margin-right: 8vw;
        a {
            margin: 10px;
        }
    }
}


// mobile
@media screen and (max-width: $mobile) {
    .header {
        height: 14vh;
        justify-content: space-between;
        align-items: center;
        display: flex;
        overflow: hidden;
        .logo {
            color: #1A1A1A;
            font-weight: bold;
            font-size: 35px;
            margin-left: 8vw;
            font-family: 'Product Sans', sans-serif;
        }
        .links {
            color: #1A1A1A;
            font-weight: bold;
            font-size: 15px;
            margin-right: 8vw;
            a {
                margin: 10px;
            }
        }
    }
}