$mobile: 767px;
.main {
    text-align: left;
    min-height: 97vh;
    margin-top: 3vh;
}


// mobile
@media screen and (max-width: $mobile) {
    .main {
        max-width: 100vw;
        text-align: left;
    }
}